.parallax-section {
  height: 200px;
  background-image: url("../img/slides/loja-por-dentro.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.parallax-section-2 {
  height: 200px;
  background-image: url("../img/slides/hamburgues.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.parallax-section-3 {
  height: 200px;
  background-image: url("../img/slides/city-hamburguer.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.parallax-section-4 {
  height: 200px;
  background-image: url("../img/slides/sobremesas.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.parallax-section-5 {
  height: 200px;
  background-image: url("../img/slides/milkshake.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.parallax-section-6 {
  height: 200px;
  background-image: url("../img/slides/cocktail.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.container-fluid.slides {
  background-color: #000;
}
.container-fluid.slides-sobremesa {
  background-color: #fff;
}
.format-cards {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
}
i.fa-regular.fa-hand-pointer {
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
}

i.fa-solid.fa-burger {
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
}

i.fa-solid.fa-cheese {
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
}
i.fa-solid.fa-ice-cream {
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
}

i.fa-solid.fa-martini-glass {
  padding: 9px;
  padding-left: 11px;
  padding-right: 11px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 50%;
}
i.fa-solid.fa-hat-cowboy {
  font-size: 200px;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1.titulo-card {
  margin-top: 20px;
  font-weight: 900;
  font-size: 45px;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

h1.titulo-card.sobremesa {
  margin-top: 20px;
  font-weight: 900;
  font-size: 45px;
  display: flex;
  justify-content: start;
  width: 900px;
}
p.paragrafo-card {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

h1.titulo-card.final {
  margin-top: 20px;
  font-weight: 900;
  font-size: 45px;
  display: block;
  text-align: center;
  margin-left: 0;
}
p.paragrafo-card.final {
  margin-top: 30px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  display: block;
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p.paragrafo-card.float {
  display: flex;
  position: relative;
  padding-left: 112px;
  margin-top: 150px;
  font-size: 20px;
  font-weight: 500;
  word-wrap: break-word;
}

.icons-themes {
  color: #000;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-themes i {
  margin-right: 60px;
}

/* Imagens responsivas nos cards */
.card-image {
  width: 100%;
  overflow: hidden;
}

.card-image img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Media Queries para Mobile - Responsividade */
@media (max-width: 768px) {
  .parallax-section,
  .parallax-section-2,
  .parallax-section-3,
  .parallax-section-4,
  .parallax-section-5,
  .parallax-section-6 {
    height: 150px;
    background-attachment: scroll;
  }

  .parallax-section h1,
  .parallax-section-2 h1,
  .parallax-section-3 h1,
  .parallax-section-4 h1,
  .parallax-section-5 h1,
  .parallax-section-6 h1 {
    font-size: 28px !important;
  }

  .parallax-section i,
  .parallax-section-2 i,
  .parallax-section-3 i,
  .parallax-section-4 i,
  .parallax-section-5 i,
  .parallax-section-6 i {
    top: 100px !important;
  }

  .format-cards {
    max-width: 100%;
    padding: 0 15px;
  }

  h1.titulo-card {
    font-size: 24px;
    margin-top: 15px;
  }

  h1.titulo-card.sobremesa {
    font-size: 24px;
    width: 100%;
    justify-content: center;
  }

  h1.titulo-card.final {
    font-size: 24px;
    margin-left: 0;
    text-align: center;
  }

  p.paragrafo-card {
    font-size: 14px;
    margin-top: 15px;
  }

  p.paragrafo-card.final {
    font-size: 14px;
    margin-bottom: 50px !important;
    margin-left: 0;
    text-align: center;
  }

  .card-image img {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
  }
}

@media (max-width: 480px) {
  .parallax-section,
  .parallax-section-2,
  .parallax-section-3,
  .parallax-section-4,
  .parallax-section-5,
  .parallax-section-6 {
    height: 120px;
  }

  .parallax-section h1,
  .parallax-section-2 h1,
  .parallax-section-3 h1,
  .parallax-section-4 h1,
  .parallax-section-5 h1,
  .parallax-section-6 h1 {
    font-size: 20px !important;
  }

  .parallax-section i,
  .parallax-section-2 i,
  .parallax-section-3 i,
  .parallax-section-4 i,
  .parallax-section-5 i,
  .parallax-section-6 i {
    display: none;
  }

  .format-cards {
    padding: 0 10px;
  }

  h1.titulo-card {
    font-size: 18px;
  }

  h1.titulo-card.sobremesa {
    font-size: 18px;
  }

  h1.titulo-card.final {
    font-size: 18px;
    text-align: center;
  }

  p.paragrafo-card {
    font-size: 12px;
  }

  p.paragrafo-card.final {
    font-size: 12px;
    margin-bottom: 30px !important;
    text-align: center;
  }

  .container-fluid.slides {
    padding: 0;
  }

  .icons-themes {
    font-size: 35px;
  }

  .icons-themes i {
    margin-right: 30px;
  }
}
