header .nav-link {
  padding: 20px;
  color: #fff;
  transition: all 0.3s ease;
  transform: all 0.3s ease;
}

header .nav-link:hover {
  color: chocolate;
  transform: scale(1.2);
}

header .form-control {
  margin-top: 2px;
  height: 30px;
  background: transparent;
  border-color: chocolate;
}

header .form-control::placeholder {
  color: #fff;
}

header .form-control:focus {
  background-color: rgb(207, 131, 17);
  border-color: chocolate;
  color: #fff;
  box-shadow: 1px 2px 3px sienna;
}
header .form-control:focus::placeholder {
  background-color: rgb(207, 131, 17);
  color: #fff;
}

header .btn {
  padding: 4px;
  color: #fff;
  border: 1px solid chocolate;
  transition: all 0.3s ease;
  transform: all 0.3s ease;
}

header .btn:hover {
  color: #fff;
  background-color: chocolate;
  transform: scale(1.1);
}

h1.text-uppercase.fw-bolder {
  color: #000;
  font-size: 2.7em;
}

.about-company p {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  overflow-wrap: break-word;
  font-weight: 700;
  margin-bottom: 100px;
}

.about-company p.mt-4 {
  font-weight: 400;
}
